@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0A0A0F, #002D62, #00AEEF, #8A2BE2);
    background-size: 400% 400%;
    animation: bgmove 12s ease infinite;
    height: 100vh;
    font-family: "Audiowide", sans-serif;

}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    gap: 50px;
    background: linear-gradient(135deg, #0A0A0F, #002D62, #00AEEF, #8A2BE2);
    background-size: 400%;
    animation: bgmove 12s ease infinite;
    padding: 45px 65px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    color: #00FFFF

}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after,
.container::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(from var(--angle), #002D62, #00AEEF, #8A2BE2, #002D62);
    position: absolute;
    z-index: -2;
    padding: 10px;
    border-radius: 5px;
    animation: rotate 4s infinite linear;
}

.container::before{
    filter: blur(1.5rem);
}

.title{
    font-size: 2.5rem;
}

.indication{
    font-size: 1.5rem;
}

#date{
    width: 100%;
    padding: 10px;
    font-family: "Audiowide", sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5) inset;
    outline: none;
}

#submit-btn{
    background: linear-gradient(135deg, #00AEEF, #8A2BE2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: "Audiowide", sans-serif;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #00FFFF;
}

#submit-btn:hover{
    color: #00FFFF;
    box-shadow: 0 0 15px #00FFFF, 0 0 30px #8A2BE2;   
}

#submit-btn:active{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) inset;
}

#result{
    font-size: 1.5rem;
}

@keyframes rotate{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@keyframes bgmove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
