:root{
    --primary-color: #FEFBF6;
    --secundary-color: #1482ED;
    --tertiary-color: #131A27;
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    --border-3px: 5px solid #FEFBF6;
    --radius: 20px
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/Assets/background/ChatGPT\ Image\ Feb\ 16\,\ 2026\,\ 09_06_17\ PM.png);
    background-size: 300%;
    animation: bgmove 12s infinite ease;
    overflow: hidden;
}

@media (min-width: 768px){
    body{
        background-size: 105%;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--shadow);
    position: relative;
}

.logo{
    width:100px
}

.link{
    position: absolute;
    left: 12%;
    font-family: "Fredoka", sans-serif;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.title{
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 45px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    font-family: "Fredoka", sans-serif;
}

.wrapper-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.generator-container{
    margin: 0 10px;
    background-color: rgba(19, 26, 39, 0.3);
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

@media (min-width:768px){
    .generator-container{
        width: 400px;
    }
}

#pic{
    display: none;
    width: 100%;
    height: 100%;
    max-height: 250px;
    margin-bottom: 35px;
    border-top: var(--border-3px);
    border-bottom: var(--border-3px);
    border-radius: var(--radius);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.loader{
    display: none;
    animation: loader 2s infinite ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none !important;
    box-shadow: none !important;
    object-fit: contain !important;
}

#generate-btn{
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: var(--radius);
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);;
}

#generate-btn:hover{
    color: var(--secundary-color);
}


#generate-btn:active{
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8) inset;
    filter: brightness(0.5);
}



@keyframes loader{
    0%{
        transform: scale(100%) ;
    }
    25%{
        transform: scale(115%) ;
    }
    50%{
        transform: scale(100%) ;
    }
    75%{
        transform: scale(85%) ;
    }
    100%{
        transform: scale(100%) ;
    }
}


@keyframes bgmove{
    0%{
        background-position: 0%;
    }

    25%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 50% 50%;
    }

    75%{
        background-position: 50% 0%;
    }

    100%{
        background-position: 0%;
    }
}